<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% stylesheets 'bundles/rosesarebluejenkins/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <style type="text/css">
                .metro .page {
                    margin: 0 auto;
                    padding: 0 20px;
                    width: 980px;
                }
            </style>

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        {% javascripts 'bundles/rosesarebluejenkins/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

            <title>{% block title %}{% endblock %}</title>

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        </head>
        <body class="metro">
            <div class="page container">
                <h1 class="fg-amber">{{ block('title') }}</h1>
        {% block body %}{% endblock %}
            </div>
        {% block javascripts %}{% endblock %}
        </body>
    </html>
