<?xml version="1.0" encoding="UTF-8"?>
<Module>
    <ModulePrefs
        title="Build Monitor - Error"
        author_email="russell.geraghty@bjss.com"
        description="Build monitor has been incorrectly configured.">
        <Require feature="opensocial-0.8" />
        <Require feature="dynamic-height" />
        <Require feature="settitle" />
    </ModulePrefs>
    <Content type="html">
        <![CDATA[
        <h1>Error</h1>
        <p>The build monitor has been incorrectly configured.</p>
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
                </ul>


                ]]></Content>
        </Module>
