{% extends 'RosesareblueJenkinsBundle::base.html.twig' %}

{% block title %}Configure Jenkins Monitor{% endblock %}

{% block body %}
<div class="tile quadro quadro-vertical">
    {{ form(form) }}
    </div>
{% endblock %}

